<form [formGroup]="loginForm"
(ngSubmit)="onSubmit()">
  <ion-list lines="none">
    <ion-item>
      <ion-label position="stacked"
                 color="primary">Email address</ion-label>
      <ion-input formControlName="username"
                 placeholder="Username"
                 type="email"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"
                 color="primary">Password</ion-label>
      <ion-input type="password"
                 formControlName="password"
                 placeholder="Password"
                 required></ion-input>
    </ion-item>

    <ion-text *ngIf="errorMessage"
              color="danger">
      {{ errorMessage }}
      <!--
        <p [hidden]="username.valid || submitted == false" padding-left>
          Username is required
        </p>
      -->
    </ion-text>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button type="submit"
        [disabled]="!loginForm.valid"
                    expand="block">Sign Up</ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<!--
<pre>
Form Value: {{ loginForm.value | json }}
</pre>
<pre>
Form Status: {{ loginForm.status }}
</pre>
-->