<form [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
  <ion-text>
    Email Address: a.a@a.com
    <br> Password: password
  </ion-text>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="stacked"
                 color="primary">Email address</ion-label>
      <ion-input formControlName="username"
                 placeholder="Username"
                 type="email"
                 autofocus
                 required></ion-input>
      <div *ngIf="username.invalid  && (username.dirty || username.touched)">
        <div *ngIf="username.hasError('required')">
          Name is required.
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"
                 color="primary">Password</ion-label>
      <ion-input type="password"
                 formControlName="password"
                 placeholder="Password"
                 required></ion-input>
      <div *ngIf="password.invalid  && (password.dirty || password.touched)">
        <div *ngIf="password.hasError('required')">
          Password is required.
        </div>
      </div>
    </ion-item>

    <ion-text data-test="error-message"
              *ngIf="errorMessage"
              color="danger">
      {{errorMessage}}
      <!--
        <p [hidden]="username.valid || submitted == false" padding-left>
          Username is required
        </p>
      -->
    </ion-text>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button type="submit"
                    [disabled]="!loginForm.valid"
                    expand="block">Sign In</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="signUp()"
                    color="light"
                    expand="block">Sign up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<!--
<p>
  Form Value: {{ loginForm.value | json }}
</p>

<p>
  Form Status: {{ loginForm.status }}
</p>
-->